/*About Us Page CSS*/

li {
  font-size: 14px;
}
p.one {
  font-size: 12px;
  color: white;
}
body {
  background-color: #a5c0c2;
}
table {
  text-align: left;
  vertical-align: center;
  font-size: 14px;
}
hr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 2.5%;
}
h1 {
  background-color: none;
  color: #488FB1;
}
h4 {
  text-decoration: underline;
  background-color: none;
  color: #488FB1;
}
a.one {
  text-decoration: none;
  color: #3E497A;
}
a {
  text-decoration: none;
  color: #CAF0F8;
}
#footer {
  /*margin-top: 0px;*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid silver;
  font-size: 9pt;
  font-weight: 400;
  background: #5902EC;
  /*padding: 50px;*/
  text-align: center;
}
